$flat-blue: #00BCD4;
$flat-green: #009688;
.header {
	.name {
		margin-top: 10px;
		font-size: 2.2rem;
	}
	.title {
		font-size: 1.5rem;
	}
	.name, .title {
		margin-bottom: 0px;
	}
	.title,.summary {
		color: #575758;
	}
	.summary {
		padding-top: 15px;
	}
	border-bottom: solid 3px $flat-green;
	/* position: fixed; */
	width: 100%;
	top: 0px;
	height: 90px;
	@media only screen and (max-width : 992px) {
		.summary {
			font-size: 14px;
		}
	}
	@media only screen and (max-width : 768px)  {
		height: 200px;
	}
	background: #fff;
}
/*
.experience {
	margin-top: 110px;
	@media only screen and (max-width : 768px)  {
		margin-top: 215px;
	}
}*/

.experience {
	margin-top: 20px;
}

.internship {
	list-style: none;
	padding: 20px;
	position: relative;
	background: #FFF;
	border-left: solid 3px $flat-blue;
	-webkit-box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	-moz-box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);
	box-shadow: 0 2px 6px 0 rgba(0,0,0,.2);

	ul {
	    list-style: none;
	    padding:0;
	    margin:0;
	    li { 
		    padding-left: 1em; 
		    text-indent: -.7em;
		}
		li:before {
		    content: "\25A0";
		    color: $flat-blue;
		    float: left;
		    margin-right: 1em;
		}
	}
}
